body, td, th {
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
}

h1, h3 {
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 1px 2px #666;
}

.criterion {
    padding-left: 150px;
    padding-right: 150px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

s

img {
    border: 0px;
}

.tr_odd {
    background: #e7ecee;
}

.tr_odd td {
    box-shadow: 1px 2px 1px #ccc;
}

td, th {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

table.criteria td {
    vertical-align: top;
    text-align: left;
}

table.plans th {
    background: #005892;
    color: #FFF;
    border-bottom: 3px solid #495961;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #005892;
    color: white;
    text-align: center;
}

.footer a:link, .footer a:visited {
    color: white;
}

.lang_button {
    padding:6px;
}

.social_box {
    padding:5px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    /*Round corner*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}