<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="myApp">
<head>
        <title>Comparatif des FAI &agrave; Montr&eacute;al / Montreal ISP Comparison</title>

        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <!--[if lte IE 8]> <script src="js/json2.js"></script> <![endif]-->
        <script src="js/angular.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
        <script src="js/controller.js"></script>

</head>
<body ng-controller="PlanListCtrl">

<div id="social" style="position: fixed; top: 0; left: 0; border: 0;z-index:100;padding:5px;">
<div ng-switch on="isFrench">
    <button class="lang_button" ng-switch-when='true' ng-click="changeLanguage('en')">{{ 'BTN_CHANGE_LANG_ENG' | translate }}</button>
    <button class="lang_button" ng-switch-when='false' ng-click="changeLanguage('fr')">{{ 'BTN_CHANGE_LANG_FR' | translate }}</button>
</div>
</div>

<noscript>
<div style="height: 100%; width: 100%;top: 0; position:absolute; left: 0; border: 0; z-index:200;background:#FFFFFF;color:red;">
<center><h2>Javascript est n&eacute;cessaire. / Javascript is required.</h2></center>
</div>
</noscript>

 <center>

  <h1>{{ 'TITLE' | translate }}</h1>



     <form name="criteria" novalidate>
         <div class="criterion">
        <fieldset>
                <legend>{{ 'SELECTION_CRITERION' | translate }}</legend>

                <center>
        <table class="criteria">
                <tr><td>
                        <b>{{ 'MINIMUM_REQUIREMENTS' | translate }}</b><br/>
            {{ 'DOWNLOAD_SPEED' | translate }} (Mbps) : <input type="number" size="6" ng-model="min_down_speed" name="min_down_speed" min="0" max="100" value="0" integer /><br/>
            {{ 'BANDWIDTH' | translate }} (GB) : <input type="number" size="6" ng-model="min_download_limit" name="min_download_limit" min="0" max="100" value="0" integer />


                </td>
        <td></td>
                <td>

                        <b>{{ 'BUDGET' | translate }}</b><br/>
            {{ 'MAXIMUM_MONTHLY_FEE' | translate }} ({{ 'DOLLAR_MONTH' | translate }}) : <input type="number" size="6" ng-model="montly_fee" name="montly_fee" min="0" max="200" integer /><br/>

                </td>
        <td></td>
                <td>
                        <b>{{ 'ORDER_BY' | translate }}</b><br/>

                        <input type="radio" ng-model="sort" name="order_by" id="order_by_price" value="order_by_price" ng-click="predicate = ['i_price','down_speed','limit'];" ng-checked="true">
                        <label for="order_by_price">{{ 'LOWEST_PRICE' | translate }}</label><br/>

                <input type="radio" ng-model="sort" name="order_by" id="order_by_limit" value="order_by_limit" ng-click="predicate = ['limit','i_price','down_speed'];">
                <label for="order_by_limit">{{ 'HIGHEST_BANDWIDTH_LIMIT' | translate }}</label><br/>

                <input type="radio" ng-model="sort" name="order_by" id="order_by_down_speed" value="order_by_down_speed" ng-click="predicate = ['down_speed','i_price','limit'];">
                <label for="order_by_speed">{{ 'FASTEST_SPEED' | translate }}</label><br/>

                </td>

                <td>
<b>{{ 'SERVICE_TYPE' | translate }}</b><br/>
<label><input type="checkbox" ng-model="cable" name="cable">Cable</label><br/>
<label><input type="checkbox" ng-model="dsl" name="dsl">DSL</label><br/>
<label><input type="checkbox" ng-model="fiber" name="fiber">{{ 'FIBER' | translate }}</label><br/>
<label><input type="checkbox" ng-model="other" name="other">{{ 'OTHER' | translate }}</label><br/>

                </td>
                </tr>
        </table>
        </center>
        </fieldset>
             </div>

        </form>
  <br/>
  <table class='plans'>
        <th></th>
        <th>{{ 'PLAN_NAME' | translate }}</th>
        <th>{{ 'DOWNLOAD' | translate }}<br/><small>(Mbps)</small></th>
        <th>{{ 'UPLOAD' | translate }}<br/><small>(Mbps)</small></th>
        <th>{{ 'BANDWIDTH_LIMIT' | translate }}<br/><small>({{ 'GB_MONTH' | translate }})</small></th>
        <th>{{ 'MONTHLY_FEE' | translate }}<br/><small>({{ 'DOLLAR_MONTH' | translate }})</small></th>
        <th></th>

    <tr ng-repeat="plan in plans | filter:criteriaMatch() | orderBy:predicate:true"  ng-class-odd="'tr_odd'">
      <td><img src="{{plan.icon}}" height="16" width="16"/></td>
      <td style="text-align:left">{{plan.isp}} {{plan.name}}</td>
      <td>{{plan.down_speed}}</td>
      <td>{{plan.up_speed}}</td>
      <td>{{(plan.limit == null) && '&#8734;' || plan.limit}}</td>
      <td>{{plan.price}}</td>
      <td><a href="{{plan.link}}" target="_blank">{{ 'MORE_DETAILS' | translate }}</a></td>
    </tr>

    <tr ng-hide="(plans | filter:criteriaMatch()).length">
        <td colspan="7">
                <h3>{{ 'NO_PLAN_FOUND' | translate }} :(<br/>{{ 'NO_PLAN_FOUND_TIP' | translate }}</h3>
        </td>
    </tr>
  </table>



  </center>

<br/>
<div ng-bind-html-unsafe="'FOOTNOTES' | translate" class="footer">
</div>

  <!--
  Other resources:
  http://www.dslreports.com/gbu/
  -->

<!-- Social links -->
<div id="social" style="position: fixed; bottom: 0; left: 0; border: 0;z-index:100;padding:10px;padding-bottom:100px;width:130px;">
    <div class="social_box">
    <b>{{ 'SHARE_MSG' | translate }}</b><br/>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><br/>
    <div class="g-plusone"></div><br/>
    <div class="fb-like" data-href="http://h3xstream.github.io/montreal_isp/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div><br/>
    <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
    </div>
</div>


<!-- Google Plus -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s);
 js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
<script>!function (d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (!d.getElementById(id)) {
     js = d.createElement(s);
     js.id = id;
     js.src = "https://platform.twitter.com/widgets.js";
     fjs.parentNode.insertBefore(js, fjs);
 }
}(document, "script", "twitter-wjs");</script>

<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34839255-3', 'h3xstream.github.io');
  ga('send', 'pageview');

</script>
</body>
</html>